/* Global */

body {
	margin: 0;
	padding: 0;
}

body, table, input, select, textarea {
	font: 12px Helvetica, Arial, sans-serif;
}

a img {
	border: none;
}

a {
	color: #7fc241;
}

h1 {
	font-size: 20px;
}

.content-wrapper {
	padding: 0 12px
}

/* Forms */
form p, form, h2 {
	clear: both;
}

form h2 {
	margin-left: 10px;
	margin-right: 20px;
}

.form-action-buttons, .action-buttons {
	margin: 5px 0;
	padding: 0;
}

.form-field-label, .field-label {
	display: block;
	float: left;
	width: 160px;
	text-align: right;
	line-height: 24px;
	font-weight: bold;
	padding-right: 10px;
}

.form-field-wrapper, .field-wrapper {
	text-align: left;
	line-height: 24px;
	clear: both;
	padding: 5px 0 5px 0;
}

input[type=text], input[type=password], textarea, select {
	border: 1px solid #aaa;
	padding: 2px;
}

select {
	padding: 1px;
}

textarea {
	width: 400px;
	height: 100px;
}


/** UI Grid **/
table.object-grid{
	width: 100%;
	border-spacing: 0px;
	font-size: 12px;
}

table.object-grid thead th{
	padding: 4px 4px 3px 6px;
	font-weight: bold;
	text-align: left;
	border-left: 0px;
}

table.object-grid thead th .ui-corner-tl{
	border-left: 1px solid #051C2E;
}

table.object-grid th a {
	display: block;
	text-decoration: none;
}

table.object-grid th a span {
	float: right;
}

table.object-grid tbody td {
	padding: 2px 6px;
	border-top: 1px solid #ddd;
}

tr.even td {
	background: #f5f5f5;
}


/** Pager **/
.pager a, .pager span {
	display: block;
	float: left;
	padding: 5px;
}

.pager a {
	font-size: 90%;
	color: #f5822b;
}


/** UI Buttons **/
.ui-button-link {
	padding:0.3em .8em 0.3em 18px;
	font-size: 13px;
	line-height: 16px;
	position:relative;
	text-decoration:none;
	cursor: pointer;
	display:inline-block;
	white-space: nowrap;
}

.ui-button-link, .ui-button link a, .ui-button-link input {
	font-weight: bold;
}

h1 .ui-button-link{
	float:right;
	margin-left: 10px;
}

.ui-button-link .ui-icon {
	left:0.2em;
	margin:-8px 5px 0 0;
	position:absolute;
	top:50%;
	_top:13px;
}

.ui-button-link input{
	border:none;
	padding:0;
	margin:0;
	background: transparent;
	color:inherit;
	cursor: inherit;
	line-height:inherit;
	font:inherit;
}

table.object-grid .ui-button-link {
	line-height: 14px;
	font-size: 10px;
}


/** UI Tabs **/
div.ui-tabs {
	padding: 8px 12px 0;
	margin-bottom: 10px;
}

div.ui-tabs ul.ui-tabs-nav {
	padding: 0;
}

div.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
div.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
div.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}


/** UI Other **/
div.ui-widget-content {
	padding: 5px;
	background: #efefef;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

div.ui-widget-content div.ui-widget-content {
	background: #f1f1f1;
}

.ui-message-icon{
	float: left;
	margin-right: 0.3em;
}

div.ui-state-highlight, div.ui-state-error{
	margin-top:5px;
	margin-bottom: 5px;
}