<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<defaultDocument enabled="true">
		   <files>
			   <clear/><!-- removes the existing default document list -->
			   <add value="index.html"/>
			   <add value="index.php"/>
			   <add value="server.php"/>
		   </files>
		</defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.php?_url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>